.vscode
cpp/build
cpp/External/Eigen
cpp/External/json
cpp/External/osqp_eigen
cpp/External/rbdl-orb
cpp/NNmodel/env_collision.pt
Neural-JSDF/

python/__pycache__/
python/*.pyc
python/MPCC/__pycache__/
python/MPCC/*.pyc
python/debug.txt
python/spline_path.txt
python/simulation_path.txt
python/test.py
python/test.ipynb
python/simulation.py
python/*.mat
python/env_data/